SERVER_PORT= # Port number for the server to listen on
NODE_ENV= # development, production, test

POSTGRES_USER= # PostgreSQL username
POSTGRES_PASSWORD= # PostgreSQL password
POSTGRES_DB= # PostgreSQL database name

DATABASE_URL= # Connection string for the database, e.g. "postgresql://user:password@localhost:5432/dbname?schema=public"

JWT_SECRET= # Secret key for signing JWT tokens
JWT_EXPIRES_IN= # Expiration time for JWT tokens, standard for access tokens is "15m"
REFRESH_TOKEN_EXPIRES_DAYS= # Expiration time for refresh tokens in days, standard is 7

PASSWORD_SALT_ROUNDS= # Number of salt rounds for password hashing, standard is 12

SMTP_HOST= # SMTP server host for sending emails
SMTP_PORT= # SMTP server port, standard is 587 for STARTTLS
SMTP_USER= # SMTP username for authentication
SMTP_PASSWORD= # SMTP password for authentication
RESET_PASSWORD_TOKEN_EXPIRES_IN= # Expiration time for password reset tokens, standard is "10m"